<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection"/>
  <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print"/> 
  <!--[if IE]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"/>
  <![endif]-->
  <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen"/>
  
	<title>Chris &amp; Snez - {{ page.title }}</title>
	
</head>

<body>
  <div class="container">
     <div class="header span-24">
        <h1 class="logo">Chris &amp; Snez</h1>
        <ul>
          <li><a href="#">History</a></li>
          <li><a href="#">Wedding</a></li>
          <li><a href="#">Logistics</a></li>
          <li><a href="#">Registry</a></li>
        </ul>
     </div>
     <div class="pattern span-24">
        <div class="content span-16">
          <div class="padder">
            {{ content }}
          </div>
        </div>
        <div class="side span-8 last">
          <div class="padder">
            {{ page.side }}
          </div>
        </div>
     </div>
     <div class="footer span-24">
        <p>A VanAnicic Production</p>
     </div>
  </div>
</body>
</html>